@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

#app {
  font-family: "Open Sans", sans-serif;
  font-family: "Jost", sans-serif;

}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  /* color: hsla(160, 100%, 37%, 1); */
}

h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
}

.title-wrp h1 {
    margin: 0;
    padding: 0;
}

.title-wrp {
    text-align: center;
    font-size: 2em;
    margin: 0.8em 0 1.5em 0;
}


h2, .bold {
  font-family: "Dancing Script", cursive;
}

h2 {
  font-size: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

p {
  text-align: justify;
}
